{{define "title"}} Password Update {{end}}

{{define "main"}}
<h2>Change Password</h2>
<form action="/account/password/update" method="post" novalidate>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
  <div>
    <label for="currentPassword">Current Password</label>
    {{with .Form.FieldErrors.currentPassword}}
    <label for="currentPassword" class="error">{{.}}</label>
    {{end}}
    <input type="password" name="currentPassword">
  </div>
  <div>
    <label for="newPassword">New Password</label>
    {{with .Form.FieldErrors.newPassword}}
    <label for="newPassword" class="error">{{.}}</label>
    {{end}}
    <input type="password" name="newPassword">
  </div>
  <div>
    <label for="newPasswordConfirmation">Confirm Password</label>
    {{with .Form.FieldErrors.newPasswordConfirmation}}
    <label for="newPasswordConfirmation" class="error">{{.}}</label>
    {{end}}
    <input type="password" name="newPasswordConfirmation">
  </div>
  <div>
    <input type="submit" value="Change password">
  </div>
</form>
{{end}}
